@import url('https://fonts.googleapis.com/css2? family=Orbitron&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    
    }


    

.galeria {
    padding: 16px;
}    



.lista-imagenes img {
    width: 100%;
    object-fit: cover;
    width: 350px;
    height: 200px;
    margin-right: 10px;
    display: block;
}

.lista-imagenes {
    display: flex;
    overflow-y: auto;
    padding-top: 5em;
    padding-bottom: 2em;
    background-color: antiquewhite;
}
.galeria1 {
    display:grid;
    justify-content: space-evenly;
    background-color:lightcyan
}
.galeria2 {
    display:grid;
    justify-content: space-evenly;
 background-color: lightcyan;
}

.galeria3 {
    display:grid;
    justify-content: space-evenly;    
    background-color: lightcyan;
}
.imagen-portada {
    width: 90vw;
    position: relative;
}
.imagen-principal {
    margin-right: 5px;
    position: relative;
}
.imagen-principal img {
    width:90vw;
    object-fit: cover;
    height: 300px;
    display: block;
    scroll-behavior: auto;
    padding-top: 4em;
    
}
#taller div.imagen-principal img {
    width:90vw;
    object-fit: cover;
    height: 300px;
    display: block;
    scroll-behavior: auto;
    padding-bottom: 0;
}

.modelo {
    position: relative;
    bottom: 0;
    padding: 10px;
    background-color: rgba(173, 144, 237, 0.);
    color: #f80b4e;
}
section h2 {
    justify-content: center;
    text-align: center;
    font-size: 3em;
}
#taller h3 {
    justify-content: center;
    text-align: center;
    font-size: 3em;
    margin-top: 0.5px;
}

.modelo h2{
    text-align: center;
}
.contenedor {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(149, 149, 243), rgb(120, 195, 220));
}


ul {
    margin: 2x;
    padding: 2px;
    display: flex;
}


ul li {
    list-style: none;
    margin: 0 25px;
    transition: 0.4s;
}

/* Estilo de los links dentro de la lista */
ul li a {
    display: block;
    text-decoration: none;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(241, 17, 17);
    font-size: 12px;
    padding: 6px;
    transition: 0.4s;

}

/* Al pasar el mouse sobre la LISTA */
ul:hover li a {
    transform: scale(1.2);
    opacity: 0.7;
    filter: blur(1px);
}

/* Al pasar el mouse sobre un LINK dentro de la lista */
ul li a:hover { 
    transform: scale(1.7);  /* Zoom */
    opacity: 1;
    filter: blur(0px);
}

/* Al ENTRAR con el mouse sobre a link dentro de la lista */
ul li a:before { 
    content: "";
    position: absolute; /*Respecto de la caja del link*/
    top: 0px;
    left: 0px;
    background:rgb(85, 244, 122);
    width: 100%;        /*Respecto de la caja del link*/
    height: 100%;       /*Respecto de la caja del link*/
    transition: 0.4s;
    transform-origin: right;
    transform: scaleX(1.1);  /* Zoom */
    z-index: -1;       /* Por detrás del texto del link*/
}


a {
    color:rgb(120, 195, 220)
}
header {
    background-color: rgba(120, 195, 220);
    margin: 0;
    padding: 0;
}
header > h1 {
    font-size: 3vw;
    margin-top: 0;
    letter-spacing: 0.2em;

}
header div.contenedor{
    place-content: flex-start;
}
header div.contenedor nav {
    width: 70%;
    display: flex;
    place-content: space-between;
}
.modelos {
  border: 10px outset red;
      
  text-align: center;
  size: 10vw  
}  
         

.img {
  width: 100%;
  height: auto;
}

a {
    color: black;
}
.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

/* Propiedades Flexbox pero de los elementos hijos:
Estás propiedades las aplicaremos a los div que se encuentran dentro del contenedor padre.
order:; Ordena los elementos hijos según el número que tu le designes.
flex-grow:; Especifica el factor de crecimiento de un elemento flexible. Se especifica qué cantidad de espacio debe ocupar el elemento dentro del contenedor flexible. Si todos los elementos tienen flex-grow 1, el espacio restante se distribuye entre los elementos.
flex-shrink:; Si utilizamos esta propiedad con valor «0» el elemento hijo no podrá hacerse más pequeño que su ancho establecido.
flex-basis:; Con esta propiedad podemos especificar el tamaño inicial que tendrá un elemento hijo.
flex:1 1 auto; Es la propiedad resumida de flex-grow, flex-shrink y flex-basis, generalmente se utiliza con la unidad «1 1 auto».
align-self: auto | flex-start | flex-end | center | baseline | stretch;
Con aling-self podemos posicionar solo un elemento hijo, generando así diferentes posiciones para cada elemento.
*/
header, main, section, aside, footer{
    flex-grow: 1;     /* Todo crece hasta ocupar el ancho disponible */
    flex-basis: 100%; /* Tamaño por defecto: 100% */
    padding: 10px;
}




@media all and (min-width: 600px){
    .aside {
        /* flex: <flex-grow> <flex-shrink> <flex-basis> */
        flex: 1 1 auto; /* <flex-grow> <flex-shrink> <flex-
        basis>*/
    }
}


@media all and (min-width: 800px){
    body{flex:2 0;}  /* <flex-grow> <flex-shrink> */
    section{order: 1;}
    aside{order: 2;}
    aside{order: 3;}
    footer{order: 4;}
    footer{background: #a6a6f7}
}
footer{
    background-color: lightcyan
   
}
main div.imagen-principal, #contacto div.formulario, #taller div.imagen-taller {
    display: flex;
    justify-content: space-evenly;
}
main img {
    width: 100%;
}
section div.imagen-principal img {
    width: 99%;
}
body {
    width: 100%;    
    margin: 0 auto;
    }
.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.formulario__grupo-input{
    position: relative;
}
.formulario__input {
    width: 100%;
    background: rgb(197, 214, 224);
    border: 3px solid ;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}
.formulario__input:focus {
    border: 3px solid blue;
 
}
.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo {
    display: block;
}
.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}
.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: red;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}
.formulario__mensaje p {
    margin: 0;
}
.formulario__mensaje-activo {
    display: block;
}
.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}
@media screen and (max-width: 1300px) {
    .formulario {
        grid-template-columns: 1fr;
 }
 .formulario__mensaje,
 .formulario__grupo-btn-enviar {
     grid-column: 1;
 }
.formulario__btn {
    width: 100%;
}
 }
#menu-check {
    display: none;
}
@media only screen and (max-width: 900px) {
        header div.contenedor, header div.contenedor ul, header div.contenedor ul li{
        display: inline;
        }
        header div.contenedor nav {
            width: 100%;
            display: inline;
        }
}
@media only screen and (max-width: 700px){
    header h1 {
        margin: 0;
    }
    header h1 a {
        padding: 0;
    }
    header div.contenedor {
        display: flex;
        place-content: space-between;
    }
    #menu-check:not(:checked) ~ nav {
        display: none;
    }
    #menu-check:checked ~ nav {
        display: block;
    }
    #menu {
        display: block;
        color: darkslateblue;
        background-color: greenyellow;
        font-size: 1.2em;
        font-weight: bold;
        border: 3px solid darkslateblue;
        border-radius: 0.3em;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
    }
    #menu:hover {
        color: white;
        background:darkslateblue ;
    }
    #menu-cerrar {
        display: none;
    }
    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }
    #menu-check:checked ~ label #manu-cerrar {
        display: block;
    }
    header div.contenedor nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: blue;
        padding-top: 0.5em;
        padding-right: 1.5em;
        opacity: 0.8;
        color:black;
        
    } 
}

